

.headline, .main-section{
  padding: 20px;
}

.headline {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.main-section {
  max-width: 800px;
  margin: 0 auto;
}

.section-wrapper {
  margin-bottom: 40px;
}

h2 {
  color: #333;
}

.team {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin-right: 20px;
}

.team img {
  width: 100%;
}


